* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    background: linear-gradient(to bottom right, #800000, #3b0a45);
}

h1, h2, p, ul, li {
    margin: 0;
    padding: 0;
    color: white;
}

.navbar {
    background-color: whitesmoke;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: auto;
    width: 100%;
    position: fixed;
    z-index: 1000;
}

.navbar-div {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.navbar-links {
    list-style: none;
    display: flex;
}

.links {
    margin: 10%;
    white-space: nowrap;
}

.links a{
    display: inline-block;
    font-size: 16px;
    text-decoration: none;
    color: #800000;
    transition: all 0.8s ease;
}

.navbar-links a:hover {
    border-radius: 5px;
    box-shadow: 0 8px 16px rgba(128, 0, 0, 0.6); /* Maroon shadow */
    transform: translateY(-5px);
}

.header-content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh; 
    position: relative;
}

.home-title {
    align-items: center;
    justify-content: center;
    flex-direction: row;
    padding-top: 1%;
    padding-bottom: 1%;
    font-size: 10vh;
    display: inline;
    white-space: nowrap;
    overflow: hidden;
    border-right: 3px solid white; /* Cursor effect */
    animation: typing 4s steps(40, end), blink-caret .75s step-end infinite;
}

@keyframes typing {
    from { width: 0; }
    to { width: 50%; }
}

@keyframes blink-caret {
    from, to { border-color: transparent; }
    50% { border-color: white; }
}

.down-arrow {
    color: white;
    font-size: 50px;
    position: absolute;
    bottom: 10%;
}

.caption {
    display: flex;
    align-items: center;
    justify-content: center;
}

.image-slider {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    height: 50%;
}

#active-image {
    height: 100%;
    width: 50%;
    border-radius: 10px;
}

button {
    display: block;
    height: 100%;
    margin-top: 10px;
    padding: 10px 20px;
    font-size: 16px;
    height: 100%;
    background-color: transparent;
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s, border-color 0.3s;
}

